.buttons{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 10%;
}
.mainDiv{
    padding: 10%;
    border: 2px silver;
    padding: 10%;
}
.myCard{
    min-width: 275;
    margin: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 35%;
    margin-right: 35%;
    border: red;
}