.buttonsRegister{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 10%;
}
.referenceLogin{
    display: flex;
    justify-content: flex-start;
}
.mainRegisterDiv{
    padding: 10%;
    border: 2px red;
    padding: 10%;
}
.myRegisterCard{
    min-height: 100%;
    min-width: 300;
    margin: 15%;
    margin-top: 5%;
    margin-bottom: 0%;
    margin-left: 22%;
    margin-right: 22%;
    border: red;
    background-color: royalblue;
}
.name{
    display: flex;
    justify-content: space-between;
}
.email{
    display: flex;
    justify-content: space-between;
}
.password{
    padding-top: 17px;
    display: flex;
    width: 230px;
    justify-content: space-between;
}
.eyeIconRegister{
    width: 1px;
}
.passwordDiv{
    display: flex;
    justify-content: space-between;
}