.dateTimeStyle {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 130px;
}

.reminderStyle {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.reminderTextStyle {
    padding: 14px 23px 0px 18px;
}