.rootDiv{
    display: flex;
    flex-direction: column;
}
.iconButton{
 display: flex;
 justify-content: flex-start;
 float: left; 
}
.AppBar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    /* align-content: center; */
}
.search{
    display: flex;
    /* align-items: center;
    justify-content: center; */

    margin-right: 30px;
    margin-left: 10px;
    /* padding-top: 5px; */
}
.searchBar{
    width: '550px';
    height:'40px';
}
.refreshIcon{
    margin-right: 23px;
    /* padding-top: 10%; */
}
.accountCircleIcon{
margin-right: 20px;
}
.searchClass{
    display: flex;
    justify-content: center;
    width: 550px;
    height: 40px;
    padding-top: 1%;
    /* height: ; */
}
.image{
    height: 50px;
    padding-top: 2%;
}
.nameIcon{
    display: flex;
    justify-content: space-around;
}
.appsIcon{
    margin-right: 23px;
   
}
.rightSideIcons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.LabelAlign{
    display:flex;
    flex-direction: column;
}