.forgetPasswordCard{
    margin: 15%;
    margin-top: 10%;
    margin-bottom: 14%;
    margin-left: 30%;
    margin-right: 30%;
}
.emailForgetPassword{
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonForgetPassword{
    display: flex;
    justify-content: center;
    padding: 5%;
    height: 8%;
}
.mainDivForgotPassword{
    border: 2px red;
}