.emailLoginVerify{
    display: flex;
    flex-direction: column;
    padding: 0%;
    justify-content: center;
}
.helpMessage{
    padding-top: 0%;
}
.buttonVerify{
    padding-top: 8%;
    padding-bottom: 10%;
}
